$primary: #115e59;
$base-color: #f8fafc;
$styled-white: #fbf9f9;



.side-bar-container {
    header {
        p {
            font-weight: 600;
        }
    }

    ul {
        .nav-item {
            .dest-nav-link{
                padding: 10px 25px;
                color: $primary;
                }
            .dest-nav-link:hover{
            color: #fff;
            background-color: $primary;
            }
        }
    }

    .nav-icons {
        margin-right: 0.5rem;
        font-size: 1.25rem;
    }
}



