$hover-link-color: #115e59;
$base-color: #f8fafc;

nav.horizontal-navbar {
    // background-color: $base-color;
    padding: 1.25rem 0;

    .container {
        .collapse-css {
            .navbar-nav {
                .nav-item {
                    .nav-link{
                        font-size: 0.983rem;
                        font-weight: 600;
                        &:hover {
                            color: $hover-link-color;
                        }

                        &:active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}